.scrollable-list {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
  padding-right: 15px; /* Optional: to avoid the scrollbar overlapping content */
}

.scrollable-list::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

.product-card {
  display: flex;
  /* background: linear-gradient(135deg, #ffffff, #f3f4f6); */
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 15px;
  overflow: hidden;
}

.product-card img {
  border-radius: 15px 0 0 15px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-description {
  font-size: 0.9rem;
  color: #666;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-group {
  margin-top: auto;
}
