.text-justify {
  text-align: justify;
}

/* Layout.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppHeader {
  flex-shrink: 0;
}

.Footer {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* Override Bootstrap active link styles */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: bold !important;
  color: #3e3e3e !important;
  border-bottom: 2px solid #3e3e3e !important;
}
